.employeeTable{   
   border-collapse:collapse;
   border:3px solid #00ff00;
}

.employeeTableHeader{
   text-align:center;
   background:none repeat scroll 0 0 #B5ff00;
   border-bottom:1px solid #00ff00;  
   padding:2px;
}

.employeeTableOddRow{
   text-align:center;
   background:none repeat scroll 0 0 #FF00FF;	
}

.employeeTableEvenRow{
   text-align:center;
   background:none repeat scroll 0 0 #0000ff;
}
